body {
  background-color: black;
  color: azure;
  padding: 20px;
  margin: 2px;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  font-style: oblique;
}

p {
  color: gainsboro;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}